/* Mobile=========================== */
@media (max-width: 575.98px) {}

@media (min-width: 320px) and (max-width: 767.98px) {
    nav.navbar {
        padding: 1rem 0;
    }

    nav.navbar .navbar-brand img {
        width: 16dvw;
    }

    nav.navbar button>span {
        font-size: 1.5rem;
    }

    nav.navbar .collapse {
        padding-top: 1rem;
    }

    nav.navbar .nav-link {
        margin-left: .9rem;
        width: fit-content;
    }

    /* hero========= */
    .hero {
        padding-top: 4rem;
        margin-top: 4rem;
        overflow: hidden;
    }

    .hero .hero-photo {
        width: 25rem;
        height: 17rem;
        margin: auto;
    }

    .hero .hero-photo img {
        object-fit: cover;
        margin-top: 1rem;
    }


    .hero .hero-info h1 {
        text-align: center;
    }

    .hero .job-title {
        margin: auto;
    }

    .desc {
        text-align: justify;
        margin-top: 1.5rem;
        font-weight: 500;
    }

    .hero .action-buttons {
        text-align: center;
        margin-top: -2.5rem;
    }

    /* about===================== */
    section.about .about-info,
    section.about .about-edu {
        width: 100%;
    }

    section.about .edu-card p {
        letter-spacing: 0rem;
        text-align: left;
    }

    /* skills= */
    .skills .skills-container {
        flex-direction: column;
    }

    .skills .skills-container .card {
        width: 100%;
    }

    /* service====================== */
    section.services {
        height: 140dvh;
    }

    section.services .row {
        justify-content: center;
    }

    /* contact================ */
    section.contact .circle {
        left: 2rem;
    }

    section.contact .rounding  img{
        position: relative;
        left: 3.5rem;
}



    /* footer=================== */
    footer .footer-about,
    footer .footer-links,
    footer .footer-contact {
        text-align: center;
    }

    footer p {
        width: 95%;
    }

    footer .row {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links .d-flex {
        justify-content: center;
    }

    footer h2 {
        margin: auto;
    }

    .footer-contact {
        padding-bottom: 1.5rem;
    }

}

/* tablet=========================== */
@media (min-width: 768px) and (max-width: 991.98px) {
    nav.navbar {
        padding: 1rem 0;
    }

    nav.navbar .navbar-brand img {
        width: 10dvw;
    }

    nav.navbar button>span {
        font-size: 2rem;
    }

    nav.navbar .collapse {
        padding-top: 1rem;
    }

    nav.navbar .nav-link {
        width: fit-content;
        font-size: 1.4rem;
    }

    /* about========================== */
    section.about .edu-card p {
        letter-spacing: 0rem;
        text-align: left;
    }

    section.about .edu-card {
        height: 25dvh;
    }

    /* skills */
    .skills .skills-container h3 {
        font-size: 1.2rem;
    }

    .skills .skills-container .skill p.api {
        font-size: .95rem;
    }

    /* footer=================== */
    footer .footer-about,
    footer .footer-links,
    footer .footer-contact {
        text-align: center;
    }

    footer p {
        text-align: center !important;
    }

    footer h2 {
        width: 100% !important;
    }

}